@charset "utf-8";

section{
    margin-top: 30px;
}
/*  대시보드  */
section .dash_bWrap{
    background: #FAF7F5;
    padding: 10px; border-radius: 20px;
}
section .dashList{
    display: flex; justify-content:space-around; align-items: center;
    font-size: 14px; font-weight: 500;
}
section .dashList .dashTitle{
   font-size: 16px; font-weight: 500; display: flex;
}
section .dashList .dash_sTitle{
    display: flex; align-items:center;
}
section .dashList .dash_sTitle .d_n{
    position: relative;
    padding-bottom: 7px;
}
section .dashList .dash_sTitle .d_n:hover::after{
    position: absolute;
    content:""; display: block;
    height: 1px; width: 100%;  
    background: #001E9A;
}
 section .dashList .dash_line img{
    height: 20px; width: 1px;
    filter: invert(9%) sepia(0%) saturate(1294%) hue-rotate(132deg) brightness(92%) contrast(89%);
}
section .dashList .dashTitle img{
    margin-left: 20px;
}
section .dashList .d_n{
    font-size: 30px; font-weight: 500;
    letter-spacing: -0.5px;
}
section .dashList .d_unit{
    font-size: 12px; 
}
/* 공지사항 */
section .top_noticeWrap{
    padding: 15px 0;
    display: flex; justify-content: center;
    font-size: 14px;
}
section .top_notice{
    display: flex;
}
section .top_notice .noticeTitle{
    display: flex;  gap: 8px;
    padding-right: 10px; font-weight: 500;
    vertical-align: middle; 
}
section .top_notice .noticeTitle img{
    width: 16px; margin-top:2px
}
section .top_notice .noticeCon{
    display: flex; 
}
section .top_notice .noticeCon a {
    font-size: 14px; color: #6B6B6B;
}
section .top_notice .noticeCon a:hover {
    text-decoration: underline;
}
section .top_notice .noticeArrow {
    padding-left: 20px;
}
section .top_notice .noticeArrow img{
    display: inline;
    padding: 0 0 0 10px;    
}


/********** css responsive **********/
@media (max-width: 1399px) {  
}

@media (max-width: 1199px) {
    #asideWrap{
        display: none;        
    }
}

@media (max-width: 991px) {

}
@media (max-width: 767px) {
    section{margin-top: 80px;}
    section .dash_bWrap{display: none;}      
    section .top_notice .noticeCon a {font-size: 12px;}   
    section .top_notice{
      display: block;
    }
     
}

@media (max-width: 430px) {     
}

@media (max-width: 360px) { 
}