@charset "utf-8";

section{
    margin-top: 30px;
}
/*  대시보드  */
section .dash_bWrap{
    background: #FAF7F5;
    padding: 10px; border-radius: 20px;
}
section .dashList{
    display: flex; justify-content:space-around; align-items: center;
    font-size: 14px; font-weight: 500;
}
section .dashList .dashTitle{
   font-size: 16px; font-weight: 500; display: flex;
}
section .dashList .dash_sTitle{
    display: flex; align-items:center;
}
section .dashList .dash_sTitle .d_n{
    position: relative;
    padding-bottom: 7px;
}
section .dashList .dash_sTitle .d_n:hover::after{
    position: absolute;
    content:""; display: block;
    height: 1px; width: 100%;  
    background: #001E9A;
}
 section .dashList .dash_line img{
    height: 20px; width: 1px;
    filter: invert(9%) sepia(0%) saturate(1294%) hue-rotate(132deg) brightness(92%) contrast(89%);
}
section .dashList .dashTitle img{
    margin-left: 20px;
}
section .dashList .d_n{
    font-size: 30px; font-weight: 500;
    letter-spacing: -0.5px;
}
section .dashList .d_unit{
    font-size: 12px; 
}
/* 공지사항 */
section .top_noticeWrap{
    padding: 15px 0;
    display: flex; justify-content: center;
    font-size: 14px;
}
section .top_notice{
    display: flex;
}
section .top_notice .noticeTitle{
    display: flex;  gap: 8px;
    padding-right: 10px; font-weight: 500;
    vertical-align: middle; 
}
section .top_notice .noticeTitle img{
    width: 16px; margin-top:2px
}
section .top_notice .noticeCon{
    display: flex; 
}
section .top_notice .noticeCo_menun a {
    font-size: 14px; color: #6B6B6B;
}
section .top_notice .noticeCon a:hover {
    text-decoration: underline;
}
section .top_notice .noticeArrow {
    padding-left: 20px;
}
section .top_notice .noticeArrow img{
    display: inline;
    padding: 0 0 0 10px;    
}
/* 프로모션 슬라이딩 배너 */
section .eventWrap{
    margin-bottom: 100px;
}
section .img_r img{
    border-radius:20px;
    max-width: 100%; height: auto;
}
/* swiper */
:root {
    --swiper-theme-color: #FF9015 !important;
    --swiper-navigation-size: 30px !important;
    --swiper-navigation-color: rgba(0, 0, 0, 0.5);
    --swiper-pagination-bullet-vertical-gap: 25px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset:20px;
    --swiper-pagination-bottom: 5px !important;
}

/* 메인 검색 영역 */
section .m_searchWrap{
    display: flex; flex-direction: column; align-items: center;
}
section .m_searchWrap .ms_Title{
    font-size: 30px; font-weight: 700;
    color: #222; letter-spacing: -1px;
    margin-bottom: 30px;
}
    /* 검색 */
section .m_search{
    position: relative;
    margin-bottom: 25px;
}
section .m_in_search{
    width: 550px;  height: 45px;
    background: #fff; 
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 4px solid #222;
    padding: 0px 25px;
    font-size: 14px;   
}
section .m_in_search:focus{outline:none;} 
section input[type='text']::placeholder, textarea::placeholder{
    color:#bbb; font-size: 16px; 
}
section .m_icon_serch{
    position: absolute;  
    right: 10px; top:8px;
}
section .m_icon_serch img{
    width: 25px;
}
    /* 해시태그 */
section .hash_tagWrap{
    display: flex; gap: 15px;
}
section .hash_tagWrap .ht{    
    background: #F4F4F4;
    border-radius: 30px;
    padding: 8px 20px; text-align: center;
}    




/********** css responsive **********/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
       
}

@media (max-width: 991px) {
  
}
@media (max-width: 767px) {
    section{margin-top: 80px;}
    section .dash_bWrap{display: none;}
    section .top_noticeWrap{display: flex; justify-content: flex-start; padding-left: 10px;}    
    section .top_notice .noticeCon a {font-size: 12px;}   
    section .top_notice{display: block;}
    /* 프로모션 슬라이딩 배너 */
    section .eventWrap{
        margin-bottom: 30px;
    }
    /* swiper */
    :root {  
    --swiper-pagination-bullet-width: 5px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-bottom: 2px !important;    
    }

    /* 메인 검색 영역 */   
    section .m_searchWrap .ms_Title{
        font-size: 16px; font-weight: 500;
        margin-bottom: 20px;
    }
   /* 검색 */
    section .m_in_search{
        width: 100%;  height: 45px;        
    }
    section .m_in_search:focus{outline:none;} 
    section input[type='text']::placeholder, textarea::placeholder{
        color:#bbb;
    }
    section .m_icon_serch{     
        top:12px;
    }
    section .m_icon_serch img{
        width: 18px;
    }
        /* 해시태그 */
    section .hash_tagWrap{
        display: flex; gap: 10px;
    }
    section .hash_tagWrap .ht{    
        background: #F4F4F4;
        border-radius: 30px;
        font-size: 11px;
        padding: 8px 20px; text-align: center;
    }
    section .hash_tagWrap .ht:last-child{
        display: none;
    }


}

@media (max-width: 430px) {     
}

@media (max-width: 360px) { 
}