@charset "utf-8";

a.text_under{
    text-decoration-line: underline;
}
a.text_line{
    text-decoration-line: underline;
    font-weight: 500;
    font-size: 14px;
}
a.text_under:hover{
    color:orange;
    transition: 0.3s;
}
a.text_line:hover{
    text-decoration-line: underline;
    color:orange;
    transition: 0.3s;
}
.thkc_bg02_input{
    background: #F8F8F8;;
}


/* PC 로그인 페이지 */
.thkc_loginWrap{
    display: flex; justify-content: center;align-items: center; 
    flex-direction: column;     
}
.thkc_loginWrap header{    
    padding:70px 0px;    
}
.thkc_loginWrap section{
    display: flex; justify-content: center;align-items: center; 
    margin-bottom: 100px;
}
.thkc_loginWrap section .imgView img{
   height: 500px;
}
.thkc_loginWrap section .lineWrap{ 
    width: 100px;  height: 500px;
    border-right: 1px solid #E7E7E7;   
 }

.thkc_loginWrap section .login_contWrap{
    display: flex; justify-content: center;align-items: center; 
    flex-direction: column;
}
.thkc_loginWrap section .login_contWrap{
    width: 100%; padding: 0px 40px;
}
.thkc_loginWrap section .login_contWrap h3{
    font-weight: 500;    font-size: 25px;
    line-height: 130%;
    text-align: center; margin-bottom: 50px;
}
.thkc_loginWrap .joinWrap{ 
    width: 100%;
}
.thkc_loginWrap .blind{display: block; position: absolute; left: 0;top: -9999px;}
.thkc_loginWrap fieldset {
    border: none;
}
.thkc_loginWrap fieldset .field{
    position: relative; border-bottom: 1px solid #eee;
    border: 0px 0px 1px 0px solid #E7E7E7; background-color: #fff;
    margin-bottom: 10px;
    display: flex; justify-content: space-between; align-items: center;
    
}

.thkc_loginWrap .field .inp-field{
    width: calc(100%)/2; height: 45px;
    border: none; font-size: 16px; text-indent: 0.5rem; 
}
.thkc_loginWrap input[type='checkbox']{
    width: 1.4em; height: 1.4em;
}
.thkc_loginWrap .field .inTitleWrap{ 
    display: flex; align-items:flex-start;
    height: 1.15em; 
}
.thkc_loginWrap .field .inTitle{    
    font-size: 14px; padding: 0px 0px 10px 5px;
}
.thkc_loginWrap .field .inp-field:focus{
    outline:none;
}
.thkc_loginWrap .login_btn{
    width: 100%; padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap:7px;
}
.thkc_loginWrap .btn_submit_01{
    width: 100%;height: 45px;
    background: #222222;
    border-radius: 50px;
    cursor: pointer;
    color: #fff; font-size: 16px; font-weight: 700;
}
.thkc_loginWrap .btn_submit_02{
    width: 100%;height: 45px;
    border: 1px solid #222;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px; font-weight: 700;
}
.thkc_loginWrap .login_btn_etc{
    display: flex; gap: 15px;
    margin-top: 10px;
}
.thkc_loginWrap section .linebar{ 
    width: 1px;  height: 15px;
    margin-top: 4px;
    background: #d1d1d1; 
 }

 /*##### pc 회원가입 페이지 ####*/
 .thkc_joinWrap input.thkc_input::placeholder,textarea::placeholder {
    color: #8f8f8f !important;
    opacity: 1;
}

.thkc_joinWrap input.thkc_input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #8f8f8f !important;
}

.thkc_joinWrap input.thkc_input::-ms-input-placeholder,textarea::-ms-input-placeholder {
    color: #8f8f8f !important;
}
.thkc_joinWrap input.thkc_input[type="text"],
.thkc_joinWrap input.thkc_input[type="password"],
.thkc_joinWrap select.thkc_input {
    height: 45px;
    width: 50%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 16px;
    color: #494949;
    outline: none;  
}
.thkc_joinWrap input.thkc_input[type="text"]:focus,
.thkc_joinWrap input.thkc_input[type="password"]:focus,
.thkc_joinWrap select.thkc_input:focus
{
    border: 2px solid #f1344d;
    box-shadow: rgba(255, 223, 186, 0.2) 6px 2px 24px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
}
.thkc_joinWrap input.thkc_input50[type="text"],  .thkc_joinWrap input.thkc_input50[type="password"] {
    width: 35%;  
}
/* 입력 에러 */
.table-box .error-txt {
    padding: 5px 0 0 0;
    font-weight: 400;
    font-size: 12px;  
    color: #f1344d;
}
.thkc_cont .error_input_inner{
    background: #faedeb;
    color: #f1344d !important;
    border-color: #f1344d !important;
}

 .thkc_joinWrap{
    display: flex;
    flex-direction: column;
 }
 .thkc_joinWrap .important {
    margin: 0px 4px;   
    font-size: 20px;
    color: #FF9015;
 }
 /* 전화 */
 .flex-box {
    display: flex;
    align-items: center;
}

.flex-box.flex-wrap {
    flex-wrap: wrap;
}
.table-box.tel-num .thkc_cont .input-box {
    font-size: 0;
}
.table-box.tel-num .thkc_cont select, .table-box.tel-num .thkc_cont input[type="text"] {
    min-width: 100px;
    width: 25%;
}
.table-box.tel-num .thkc_cont input[type="text"] {
    margin: 0 0 0 10px;
}
.table-box select {
    padding: 0 40px 0 15px;
    border: 1px solid #eee;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 150px;
    height: 45px;
    box-sizing: border-box;
    background: #fff url("../../img/new_common/thkc_icon_down-b.png") no-repeat right 15px center;
    vertical-align: top;
    font-size: 16px;
    color: #494949;
}

.table-box select::-ms-expand {
    display: none;
}

/* 체크 타입 */
.table-box .thkc_dfc{
    display: flex; align-items: center; gap:10px;
}
.table-box .thkc_dfc03{
    display: flex; align-items: center; justify-content: space-between;
    margin-bottom: 10px; padding: 5px 0;
}
.table-box .thkc_dfc_02{
    display: flex;  gap:20px;
}
.table-box .thkc_dfc .thkc_ml_01{
    margin-left: -5px;  
}
.table-box .thkc_dfc_m{
    display: flex;
 }
.table-box input[type='checkbox']{
    width: 1.6em; height: 1.6em;
    accent-color:red;
}

/* 주소 */
.table-box.address .thkc_cont .flex-box input[type="text"] {
    max-width: 200px;
}

.table-box.address .thkc_cont .flex-box a {
    margin: 0 0 0 10px;
}

.table-box .thkc_cont a.thkc_btn_bbs {
    background: #E6E6E6;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    height: 45px;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 500;
    display: flex; justify-content: center;  align-items: center;
}
.table-box .thkc_cont a.thkc_btn_bbs:hover{
    background: #8f8f8f;
    color:#fff
}

.table-box.address .thkc_cont > div:not(:first-child) input[type="text"] {
    max-width: 525px;
}
.table-box.address .thkc_cont > div:not(:last-child),.table-box.bank .thkc_cont > div:not(:last-child) {
    margin: 0 0 10px;
}
.table-box .thkc_cont .thkc_cont_txt{
    font-size: 12px; padding: 10px 0px 0px 0px;
}

/* 동의하기 */
.table-box .thkc_agree_title{
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}
.table-box .thkc_agree_title_02{
    font-size: 16px;  
    padding-left: 10px;
}
.table-box .thkc_agreeWrap {
    background: #F8F8F8;
    padding: 20px 30px;
}
.table-box .thkc_agree_box{
    background: #fff;
    padding: 10px 20px;
    margin: 10px 0px 10px 25px;
    font-size: 14px;
    color: #8f8f8f;
}

/* 버튼 */
.thkc_btnWrap {
    display: flex; align-items: center;
    flex-direction: column;
    padding: 30px 0px;
    margin-bottom: 50px;
}
.thkc_btnWrap .btn_submit_01{
    width: 300px;height: 55px;
    display: flex; justify-content: center; align-items: center;    
    background: #222222;
    border-radius: 50px;
    cursor: pointer;
    color: #fff; font-size: 20px; font-weight: 700;
}
.thkc_btnWrap .btn_submit_01:hover{    
    background: #666;
    transition: 0.3s;
}


  /* pc title */
 .thkc_joinWrap .thkc_titleTop{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
 }
 .thkc_joinWrap .joinTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 700;
    color: #494949;
 }
 .thkc_joinWrap .joinTitle .boxRright{
    font-size: 14px;
    font-weight: 400;
    color: #494949;
 }
 /* pc table */
 .thkc_joinWrap .thkc_tableWrap{
    border-top: 2px solid #494949;
    padding: 0 0 50px;
 }
 .thkc_joinWrap .thkc_tableWrap .table-box{
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #ddd;    
 }
 .thkc_joinWrap .thkc_tableWrap .table-box .tit{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 240px;
    min-height: 90px;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
    background: #f8f8f8;
    font-size: 17px;
    color: #000;
 }
 .thkc_joinWrap .thkc_tableWrap .table-box .thkc_cont{
    display: table-cell;
    vertical-align: middle;
    min-height: 90px;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
    font-size: 16px;
    color: #494949;    
 }


/********** css responsive **********/
@media (max-width: 1399px) {
    .thkc_joinWrap{
        padding: 0px 30px;
    }
}

@media (max-width: 1199px) {
    .thkc_joinWrap input.thkc_input[type="text"],  .thkc_joinWrap input.thkc_input[type="password"] {
        width: 80%;
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    section.thkc_joinWrap{
        background: rgba(248, 248, 248, 0.5);
    }
    .thkc_loginWrap header{    
        padding:30px 0px;    
    }
    .thkc_loginWrap header img{    
        height: 30px;    
    }
   .thkc_loginWrap .imgView, .lineWrap {
        display: none;   
   }
   .thkc_loginWrap .lineWrap {
        width: 10px;  height: 100%;
        margin-right: 0px;
   }
   .thkc_loginWrap section .login_contWrap{
        padding: 0px 0px;   
    }
    .thkc_loginWrap section .login_contWrap h3{
        font-size: 1.3rem
    }
    .thkc_loginWrap .field .inp-field{
      font-size: 0.9rem; text-indent: 0rem; 
    }
    .thkc_loginWrap .field .inTitle{    
        font-size: 0.8rem;
    }
   
    /* 회원가입 */
    .thkc_joinWrap{
        padding: 20px 20px;
    }
    .thkc_joinWrap input.thkc_input[type="text"],  .thkc_joinWrap input.thkc_input[type="password"] {
        width: 100%;
    }   
    .thkc_joinWrap .thkc_tableWrap .table-box .tit{       
        display:table;        
        width: 100%;
        min-height: 35px;      
        padding: 0;
        font-size: 16px;
        background: rgba(248, 248, 248, 0.5);      
     }
     .thkc_joinWrap .thkc_tableWrap .table-box .thkc_cont{
        display: table;
        min-height:70px;
        width: 100%; 
        font-size: 14px;
        padding: 0;        
     }
     .thkc_joinWrap .thkc_tableWrap .table-box{       
        border-bottom: 0px;    
     }
     
     .thkc_joinWrap .joinTitle .boxRright{
        font-size: 12px;     
     }
     .thkc_joinWrap .important {      
        font-size: 16px;
     }
     .thkc_joinWrap .table-box.m30{
        margin-top: 30px;
     }

       /* 모바일 title */
    .thkc_joinWrap .thkc_titleTop{
        font-size:25px;      
    }
    .thkc_joinWrap input.thkc_input50[type="text"],  .thkc_joinWrap input.thkc_input50[type="password"] {
        width: 50%;  
    }
    .table-box .thkc_cont a.thkc_btn_bbs {
        padding: 0 10px;
        font-size: 12px;
    }
    
    .table-box .thkc_dfc_m{
       display: block;
    }
    .pt-5{
        padding-top: 5px;
    }
    .pt-30{
        padding-top: 30px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .table-box.tel-num .thkc_cont select, .table-box.tel-num .thkc_cont input[type="text"] {
        min-width: 29%;     
    }
    /* 모바일 동의하기 */
    .table-box .thkc_agree_title{
        font-size: 16px;
    }
    .table-box .thkc_agree_title_02{
        font-size: 14px;  
        padding-left: 10px;
    }
    .table-box .thkc_agree_title_03{
        font-size: 12px;  
        padding-left: 30px;
    }
    .table-box .thkc_agreeWrap {      
        padding: 10px 15px;
    }
    .table-box .thkc_agree_box{   
        padding: 10px;
        margin: 2px;
        font-size: 14px;
    }
    .table-box .thkc_dfc03{
        display: block;
        margin-bottom: 10px; padding: 5px 0;
    }
        
    
    
}

@media (max-width: 430px) {}

@media (max-width: 360px) {}
